{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>polls</title>
		<link href="{% static 'polls/style.css' %}" rel="stylesheet" />
		<!-- newyear/static/newyear/styles.css -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
	</head>
    {% include "polls/header.html" %} 
<main>
<div class="foooorm">
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input class="radio" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label class="neheh" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        </fieldset>
        <input class="vote" type="submit" value="Vote">
    </form>

    <a class="backdoor hover-underline-animation" href="{% url 'polls:index' %}">Go Back</a>

</div>
</main>

{% include "polls/footer.html" %} 