{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>polls</title>
		<link href="{% static 'polls/style.css' %}" rel="stylesheet" />
		<!-- newyear/static/newyear/styles.css -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
	</head>

    <footer>
        <p>&copy; 2023 Vote Vortex. All rights reserved.</p>
        <p>Question sources -> <a href="https://www.mentimeter.com/blog/awesome-presentations/85-poll-questions-for-every-occasion">:}</p>
    </footer>


</html>