{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>polls</title>
		<link href="{% static 'polls/style.css' %}" rel="stylesheet" />
		<!-- newyear/static/newyear/styles.css -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
	</head>

<header>

    <nav>
        <div class="ni">
        <div class="header">
        
        <div class="logo">
            <div class="wrapper">
                <div class="arc">
                    <div class="arc">
                        <div class="arc">
                            <div class="arc">
                                <div class="arc">
                                    <div class="arc">
                                        <div class="arc">
                                            <div class="arc">
                                                <div class="arc">
                                                    <div class="arc">
                                                        <div class="arc">
                                                            <div class="arc">
                                                                <div class="arc">
                                                                    <div class="arc">
                                                                        <div class="arc">
                                                                            <div class="arc"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="{% url 'polls:index' %}">VoteVortex</a>

        </div>



        {% if request.user.is_authenticated %}
            <div class="login">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <a class="purple" href="{% url 'admin:index' %}">Go to Admin Page</a>
                {% endif %}
            {% endif %}
            <p>{{ request.user.username }} :)</p>
            <a class="hover-underline-animation" href="{% url 'polls:logout' %}">Logout</a>
            {% else %}
            <div class="lolol">

                <a class="hover-underline-animation"  href="{% url 'polls:login' %}">Login</a>
                <a class="hover-underline-animation"  href="{% url 'polls:signup' %}">Signup</a>
            </div>
            </div>
            <div>
        {% endif %}

        </div>
    </div>        
        
    <nav>

</header>
</html>